body {
  padding-bottom: 4em;
}

#banner {
  display: block;
  margin: 20% 0 0;
}

#wechat {
  display: block;
  width: 50%;
  margin: 0 auto 1rem;
}

.home-social {
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
  padding: 0;
}

.home-social li {
  display: inline-block;
  padding: 0.4em 0.5em;
}

@media (max-width: 600px) {
  .home-social li {
    display: block;
  }

  #wechat {
    width: 100%;
  }
}

.blog-back, .blog-back:hover {
  display: inline-block;
  background: #E94335;
  /* border: none; */
  margin: 1em 0;
  color: #FFFFFF;
}

/* .intro-header.big-img .post-heading .post-meta {
  color: #808080;
} */

.pagination .page-item .page-link {
  background-color: #E94335;
  border-radius: 0;
  color: {{ site.text-col | default: "#404040" }};
}

#em-footer {
  position: fixed;
  bottom: 0;
  padding: 0.5em;
  width: 100%;
}

#em-footer .copyright {
  font-size: 0.9rem;
}

@media (max-width: 365px) {
  /* .intro-header.no-img h1, .intro-header.no-img h2 {
    color: #404040;
  } */
  .header-section.has-img .no-img {
    background: #3b3737;
  }
}